PORT=4001
MONGO_URL=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_SECRET_KEY=
JWT_SECRET_KEY=
FRONTEND_URL=http://localhost:5173,http://globlog-frontend-parveen.s3-website-us-east-1.amazonaws.com
EMAIL_USER=
EMAIL_PASS=
